body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

header p {
    text-align: left;
}

h1 {
    margin: 0;
    color: #333;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f8f8f8;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.checkbox {
    width: 20px;
    height: 20px;
}

.eliminarBtn {
    background: none;
    border: none;
    color: red;
    font-size: 20px;
    cursor: pointer;
}

.eliminarBtn:hover {
    color: darkred;
}

section {
    width: 25%;
    height: 25%;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
}

p {
    font-size: 18px;
}

span {
    font-weight: bold;
}

main {
    width: 50%;
}

.tachado {
    text-decoration: line-through;
    color: #888;
}